.styled-box {
  width: 50rem;
  height: 12rem;
  padding: 5px;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
  border: 2px solid grey;
  margin: 1rem 0;
}

.row {
  input {
    margin-left: 2rem;
  }
}
